@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css";
.tabela-lista-agendamento {
    width: 80%;
    text-align: center;
}

.tabela-lista-agendamento>th {
    text-align: center;
}